.drawerFrame {
  margin-top: 70px;

  div {
    div {
      overflow: hidden;
      min-height: 30px;
    }
  }
}

@mixin section($direction) {
  display: flex;
  height: calc(50vh - 60px);
  flex-direction: $direction;
}

.topSection {
  @include section(column);
}

.bottomSection {
  @include section(column-reverse);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  width: 300px;
}

button.buttonStyle {
  color: silver;
  display: flex;

  svg {
    align-self: center;
  }

  &:focus {
    color: silver;
  }

  &:hover {
    color: white;
    background-color: #36393f;
  }

  &Processing {
    @extend .buttonStyle;

    svg {
      opacity: 50%;
    }

    span {
      padding-top: 2px;
      position: absolute;
    }
  }

  &AnimateSpin {
    @extend .buttonStyle;

    &:hover {
      svg {
        animation: spin 4s linear infinite;
      }
    }
  }

  p {
    flex-grow: 1;
  }
}

.drawerButton {
  padding: 10px 29px 29px 7px;
  height: 20px;
  width: 40px;

  svg {
    color: grey;
    height: 20px;
  }

  &:hover {
    box-shadow: 0 0 8px 2px rgb(114 114 114 / 30%);
    background: linear-gradient(45deg, #646464 30%, #4e4e4e 90%);

    svg {
      color: white;
    }
  }
}
