.contentContainer {
  height: calc(100vh - 70px);//100% view height
  overflow: hidden;

  .imageContainer {
    height: calc(100vh - 70px);//100% view height
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }
}
