.contentContainer {
  height: calc(100vh - 70px);//100% view height
  overflow: hidden;

  .imageContainer {
    height: calc(100vh - 70px);//100% view height
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    user-select: none;
    img{
      -webkit-user-drag: none;
      will-change: transform;
      filter: contrast(1.1);
      image-rendering: high-quality
    }
  }
}

.dropMessage {
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  margin: 100px;
  width: calc(100vw - 200px);
  height: calc(100vh - 300px);//100% view height
  min-width: 300px;
  min-height: 200px;
  border: 4px dashed silver;
  text-align: center;
  color: silver;
  font-size: 20px;
}
