.tabStyle {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
  margin: 4px 2px 0;
  height: 36px;
  max-width: 160px;
  min-width: 33px;
  color: silver;
  border-top: solid 2px #36393f;
  background-color: #36393f;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;

  i {
    margin-right: 5px;
    padding: 2px;
    display: none;
  }

  svg {
    display: none;
  }

  &.tabActive {
    border-top: solid 2px silver;
    box-shadow: inset 0 10px 15px -15px silver;

    svg {
      display: initial;
      color: grey;
      height: 14px;
      width: 14px;
      padding: 1px;
      margin: 2px;

      &:hover {
        color: #36393f;
        background: #bbb left center;
        border-radius: 50%;
      }
    }

    &:hover {
      border-top-color: white;
      box-shadow: inset 0 10px 15px -15px white;
    }
  }

  &:hover {
    border-top: solid 2px grey;
    box-shadow: inset 0 10px 15px -15px grey;
  }

  p {
    font-size: 14px;
    user-select: none;
    margin: 0;
    flex-grow: 1;
    padding: 8px;
    max-width: 100%;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
  }
}
