.dragAndDropContainer {
  display: inline-block;
  position: absolute;

  div {
    position: fixed;
    border: dashed grey 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255 255 255 / 80%);
    width: 100vw;
    height: calc(100vh - 70px);
    z-index: 2;
    text-align: center;
    vertical-align: center;
  }
}

.progress {
  div {
    border: none;

    span {
      color: grey;
    }
  }
}
