.mainHeader {
  background-color: #292d33;
  user-select: none;
  height: 40px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.svgLogo {
  svg {
    width: 100vw;
    height: calc(100vh - 150px); //100% view height
    min-width: 400px;
    min-height: 400px;
    opacity: 0.3;
  }
}
