.tabsStyle {
  color:grey;
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  width:100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.tabsStyle::-webkit-scrollbar {
  display: none;
}

.tabsStyle > i {
  margin-top: 3px;
}

.tabsStyle > i:hover {
  color:silver;
}

