.tabStyle {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 5px;
  margin-top: 4px;
  height: 38px;
  max-width: 160px;
  min-width: 33px;
  white-space: nowrap;
  overflow: hidden;
  color: silver;
  border: solid 1px #36393f;
  background-color: #36393f;
}

.tabStyle:hover {
  height: 36px;
  border-bottom: solid 2px grey;
}

.tabStyle > p {
  font-size: 14px;
  user-select: none;
  margin: 0;
  flex-grow: 1;
  padding: 8px;
  max-width: 100%;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabStyle > i {
  margin-right: 5px;
  padding: 2px;
  display: none;
}

.tabCloseButton:hover {
  color: white;
}

.tabActive {
  margin-top: 4px;
  height: 36px;
  border-bottom: solid 2px silver;
}

.tabActive:hover {
  border-bottom: solid 2px white;
}

.tabActive > i {
  display: initial;
}

.tabStyle:hover > i {
  display: initial;
}
